@import "../css/opendyslexic.css";

body {
  font-family: "OpenDyslexic", sans-serif;
}

.kofitext {
  font-family: "OpenDyslexic", sans-serif !important;
  font-size: 11px !important;
}

code,
kbd,
pre {
  font-family: "OpenDyslexic", monospace;
}
